extends _layouts/master

block context
  - var title = 'Interactions and Controls';

block styles
  link(rel="stylesheet", href="../bower_components/font-awesome/css/font-awesome.css", type="text/css")
  style.
    .ol-scale-line-inner {
      font-size: 12px;
    }
    #locate {
      top: 46px;
      right: 8px;
    }
    #marker {
      top: 84px;
      right: 8px;
    }
    #marker:hover {
      cursor: pointer;
    }

block extra
  div(id="locate", class="ol-unselectable", class="ol-control")
    button(type="button", class="fa fa-location-arrow")
  div(id="marker", class="ol-unselectable", class="ol-control")
    button(type="button", class="fa fa-map-marker")

block scripts
  script(src="../bower_components/angular/angular.min.js")
  script(src='interaction-control.js')
