extends _layouts/master

block context
  - var title = 'Raster reprojection'

block styles
  link(rel="stylesheet", href="../bower_components/bootstrap/docs/assets/css/bootstrap.css", type="text/css")
  style.
    #infocontainer {
      position: absolute;
      right: 10px;
      top: 10px;
      white-space: nowrap;
      padding: 10px;
      background: rgba(255, 255, 255, 0.75);
      border: 2px solid #AAA;
      border-radius: 5px;
    }
    div.ol-rotate {
      left: .5em;
      top: 5em;
    }

block extra
  div#infocontainer
    h4 View projection
    select#projection
      option(value='EPSG:3857') Web Mercator
      option(value='EPSG:4326') WGS84 Geographic
      option(value='EPSG:5179') Korea 2000
    div
      a(href='http://klokantech.com/')
        img(style='width:207px',src='../img/tileserver-klokantech-logo.png')

block ol
  script(src='ol3raster/ol.js')

block scripts
  script(src='proj4js/proj4.js')
  script(src='raster-reprojection.js')
